<div class="row">
    <div class="col-md-9">
        <form #roleForm="ngForm" class="form-group" (ngSubmit)="addRole(roleForm)">
            <label for="name">id</label>
            <input class="form-control" type="text" name="id" ngModel>
            <label for="name">name</label>
            <input class="form-control" type="text" name="name" ngModel>

            <br>

            <button type="submit">Kaydet</button>
            
        </form>
        <button (click)="editRole(roleForm)">Düzenle</button>
        <button (click)="deleteRole(roleForm)">Sil</button>
    </div>
</div>


<ul>
    <li *ngFor="let role of rolesData ? rolesData[0]?.data:[]">
        id: {{role._id}} - name: {{role.name}}
    </li>
</ul>