<p>parent1 works!</p>

<div class="row">
    <div class="col-md-4">
        isim <input type="text" [(ngModel)]="name">
    </div>
    <div class="col-md-4">
        başarı durumu: 
        <select [(ngModel)]="successStatus" id="">
            <option value="0">seçin</option>
            <option [ngValue]="true">Başarılı</option>
            <option [ngValue]="false">Başarısız</option>
        </select>
    </div>
    <div class="col-md-2">
        <button (click)="calculate()">Çalıştır</button>
    </div>
    <div class="col-md-2">
        <button (click)="child1.alertSth()">child Component Trigger</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    
    <app-child1 [data]="calculateData" (resetForm)="resetParentForm()"></app-child1>
    </div>
</div>



