<!-- <h3 *ngIf="products;else: noProduct">{{title}}</h3> -->
<app-category></app-category>
<div class="mb-3">
    <input type="email" class="form-control" id="productName " placeholder="Ürün ara" [(ngModel)]="filterText">
    <div *ngIf="filterText" id="emailHelp" class="form-text">Şu an <strong>{{filterText}} </strong>aradınız</div>
  </div>


<ng-template #noProduct>
    <div class="alert alert-primary" role="alert">Bu kategoride Ürün Yoktur</div>
</ng-template>
<div class="row">
    <div *ngFor="let product of products | productFilter:filterText" class="card" >
        <img [src]="product.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name | uppercase}}  {{product.price | currency:'USD':true:"1.2-2"}}</h5>
            <p class="card-text">{{product.description}}</p>
            <a (click)="addToCart(product)" class="btn btn-primary">Sepete Ekle</a>
        </div>
    </div>
</div>