<div class="row">
    <div class="col-md-12">
        <h2>One way binding</h2>
        <div class="row">
            <div class="col-md-3">
                <h3>interpolation</h3>
                <p>Ad: {{user.name}}, Soyad:{{user.surname}}</p>
                <p>Hesapla: {{1+2}}</p>

            </div>
            <div class="col-md-3">
                <h3>property binding</h3>
                <input [type]="type" [value]="user.name">

            </div>
            <div class="col-md-3">
                <h3>attribute binding</h3>
                <input [type]="type" [value]="user.name" [attr.disabled]="!user.isEditable ? 'disabled':null">

            </div>


        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>class binding</h3>
                <p [class.red]="!user.isEditable?true:false">Renk değeri</p>

            </div>
            <div class="col-md-3">
                <h3>style binding</h3>
                <p [style.color]="user.name==='Yusuf'?'orange':'blue'">Renk değeri</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>event binding-dom to comp</h4>
                <input type="text" [value]="user.name" (keyup.enter)="inputSubmit($event)">
                <button (click)="buttonClicked()">Ok</button>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>ng model</h3>
            <input type="text" [(ngModel)]="user.name">
            <p>{{user.name}}</p>
        </div>
    </div>

</div>